<div class="col-sm-12 col-md-4">
  <div class="card">
    <div class="card-image" style="background: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url(<%= image_path('kogi-1.jpg') %>) center / cover no-repeat;"></div>
    <div class="card-content">
      <div class="card-name">
        Kogi
      </div>
      <div class="card-info">
        German Shorthaired Pointer
      </div>
    </div>
  </div>
</div>
