* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html, body {
  background:#f7f1f1;
  font-size:1.1rem;
  font-family:'Rubik', sans-serif;
  height:100%;
}

#todos {
  margin:4rem auto;
  padding:2rem 3rem 3rem;
  max-width:500px;
  background:#6c8c6f;
  color:#FFF;
  box-shadow:-20px -20px 0px 0px rgba(192, 160, 99,.1);
}
#todos h1 {
    font-weight:normal;
    font-size:2.6rem;
    letter-spacing:0.05em;
    border-bottom:1px solid rgba(255,255,255,.3);
}
#todos h1 span {
  display:block;
  font-size:0.8rem;
  margin-bottom:0.7rem;
  margin-left:3px;
  margin-top:0.2rem;
}

#todos .emptylist {
  margin-top:2.6rem;
  text-align:center;
  letter-spacing:.05em;
  font-style:italic;
  opacity:0.8;

}
#todos ul {
  margin-top:2.6rem;
  list-style:none;
}
#todos li {
  display:flex;
  margin:0 -3rem 4px;
  padding:1.1rem 3rem;
  justify-content:space-between;
  align-items:center;
  background:rgba(255,255,255,0.1);
}

#todos .actions {
  flex-shrink:0;
  padding-left:0.7em;
}
#todos .label {
  position:relative;
  transition:opacity .2s linear;
}
#todos .btn-picto {
  border:none;
  background:none;
  -webkit-appearance:none;
  cursor:pointer;
  color:#FFF;
  font-size: 0.9em;
}
#todos .btn-picto:hover {
  opacity: 0.9;
}

/* FORM */
form {
  margin-top:3rem;
  display:flex;
  flex-wrap:wrap;
}
form label {
  min-width:100%;
  margin-bottom:.5rem;
  font-size:1.3rem;
}
form input {
  flex-grow:1;
  border:none;
  background:#f7f1f1;
  padding:0 1.5em;
  font-size:initial;
}
form button {
  padding:0 1.3rem;
  border:none;
  background:#6c8c6f;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  border:1px solid rgba(255,255,255,.3);
  margin-left:5px;
  cursor:pointer;
  transition:background .2s ease-out;
}
form button:hover {
  background:#63816b;
}
form input,
form button {
  font-family:'Rubik', sans-serif;
  height:3rem;
}
